  <div style="display:inline; margin-left:2em;'">
    <span class='pull-left'>Public:</span><span class='icon page_white_world_16 pull-left'><%= tab_link('requested', 'public requested')%></span>&nbsp;<span class='icon world_16 pull-left'><%= tab_link('approved', 'public')%></span>
  </div>
  <div class="clearfix"></div>

